@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .animate-3s {
    animation-duration: 3s;
  }
}
.swiper-pagination-bullet-active {
  background-color: #005700 !important;
}

.react-hooks-paginator .page-item:hover .page-link,
.react-hooks-paginator .page-item.active .page-link {
  background-color: #005700 !important;
  border-color: #005700 !important;
  color: #fff;
}

.map-container {
  height: 400px;
  width: 90%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .map-container {
    margin-top: -55px;
    margin-bottom: 30px;
    height: 350px;
    width: 70%;
    width: 580px;
  }
}

@media screen and (max-width: 500px) {
  .map-container {
    margin-top: -55px;
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
  }
}
